[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels-redis = "==3.4.0"
django = "==4.0.5"
djangochannelsrestframework = "*"
djangorestframework = "*"
pillow = "==9.2.0"
django-cors-headers = "*"
install = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "*"
